<!DOCTYPE html>
<html ng-app>
    <head>
        <meta http-equiv='content-type' content='text/html; charset=UTF-8' />
        <meta name='viewport' content='width=device-width' />
        <title>votabl2</title>
        <link rel='stylesheet' href='style.css' />
        <!--[if lte IE 9]><link rel='stylesheet' href='style-old-ie.css' /><![endif]-->
        <!--[if lte IE 8]><script>location.href = 'unsupported-browser.html';</script><![endif]-->
    </head>
    <body class='loading' ng-controller="VoteController">
        <div id='container'>
            <h1>votabl2</h1>
            <div id='panes'>
                <ul id='choices'>
                    <li ng-repeat="choice in choices" ng-click="vote(choice)">
                        <img ng-src="{{choice.imageUrl}}" />
                        <div>
                            <h2>{{choice.name}}</h2>
                            <p>click to vote!</p>
                        </div>
                        <span class='arrow'>▶</span>
                    </li>
                </ul>

                <div id='voting' class='text-pane off-screen'>
                    <h2>
                        <img src='spinner.gif' />
                        voting for <span id='voted-for-text'>{{selected.name}}</span>
                    </h2>
                    <h2>do not turn off your computer</h2>
                </div>

                <div id='vote-succeeded' class='text-pane off-screen'>
                    <h2>all done - thanks for voting!</h2>
                </div>

                <div id='vote-failed' class='text-pane off-screen'>
                    <h2>sorry - we couldn't register your vote</h2>
                    <p id='failure-reason'>{{failureReason}}</p>
                    <p>&nbsp;</p>
                    <button id='try-again' ng-click="tryAgain()">try again</button>
                </div>
            </div>
        </div>
        <script src='jquery-1.9.1.min.js'></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        <script src='MobileServices.Web.min.js'></script>
        <script>
            var client = new WindowsAzure.MobileServiceClient(
                "https://votabl2.azure-mobile.net/",
                "flEkqDIimXoiDPxXqwPzFSBwBbFJSg55");

            var votesTable = client.getTable('votes');

            function loadChoices(eventShareId) {
                return client.invokeApi('loadChoices', { 
                    method: 'get',
                    parameters : {
                        eventShareId : eventShareId }
                    });
            }

            function insertVote(vote) {
                return votesTable.insert(vote);
            }

            function VoteController($scope, $location) {
                var eventShareId = $location.path().substring(1);
                if (!eventShareId || eventShareId.length < 10)
                {
                    alert('invalid event id' + eventShareId);
                    return;
                }

                $scope.selected = null;
                $scope.choices = [];
                $scope.vote = function(choice) {
                    $scope.selected = choice; 
                    showTextPane({ incoming: "#voting", outgoing: "#choices" });

                    var handleError = function(err) {
                        var message = (err.request && err.request.status ? err.request.status + " - " : "") + err.toString();
                        $scope.failureReason = err;
                        showTextPane({ incoming: "#vote-failed", outgoing: "#voting" });
                        $scope.$apply();
                    }

                    votesTable.read().then(function(results) {

                        var vote = {
                            token : results[0].token,
                            votableId : choice.id,
                            eventShareId : eventShareId
                        }

                        insertVote(vote).then(function(){
                            showTextPane({ incoming: "#vote-succeeded", outgoing: "#voting" });
                        }, handleError);
                    }, handleError);
                };

                $scope.tryAgain = function() {
                    document.location.reload();
                }

                loadChoices(eventShareId).then(function(results) {
                        $scope.choices = results.result;
                        if ($scope.choices.length === 0) {
                            alert('invalid event id' + eventShareId);
                            return;
                        }
                        $scope.$apply();
                        $(document.body).removeClass("loading");
                }, function (err) {
                    var message = (err.request && err.request.status ? err.request.status + " - " : "") + err.toString();
                    alert(message);
                });
            }

            function showTextPane(options) {
                $(options.outgoing).addClass("off-screen");
                $(options.incoming).show().offset();
                $(options.incoming).removeClass("off-screen");
            }
        </script>
    </body>
</html>